env:
  # lets point at the staging db
  DB_HOST: myteam-demodb.jx-staging.svc.cluster.local

jxRequirements:
  ingress:
    namespaceSubDomain: "-pr{{ requiredEnv "PULL_NUMBER" }}."

image:
  repository: "{{ requiredEnv "DOCKER_REGISTRY" }}/{{ requiredEnv "DOCKER_REGISTRY_ORG" }}/{{ requiredEnv "APP_NAME" }}"
  tag: "{{ requiredEnv "VERSION" }}"
  pullPolicy: "Always"
